* {
    padding: 0;
    margin: 0;
    text-align: center;
}

ul {
    list-style: none;
}

.wrap{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: beige;
    padding: 3vw
};

.main_wrap {
    background-color: powderblue;
    width: 70%;
    .header {
        padding-top: 1vw;
        .logo {
            text-align: left;
        }
        .nav {
            display: none;
        }
    }

    .main {
        margin-top: 1vw;
        .title {
            text-align: left;
        }
        .menu_list, .item_list {
            margin-right: 1vw;
            border: 1px solid black;
            flex: 1 1 40%
        }
        .menu_wrap, .item_wrap {
            display: flex;
            flex-wrap: nowrap;
        }
        .menu_section {
            margin-top: 1vw;
        }
        .item_section {
            margin-top: 1vw;
        }
    }
}

.aside_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: azure;
    width: 30%;

    .myorder_footer {
        position: absolute;
        right: 50%;
        left: 50%;
        margin-right: -25%;
        margin-left: -25%;
        bottom: 1vw;
    }
}